.main-page-reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 735px;
}
.reservation-img-size{
    position: absolute;
    height: 750px;
    width: 100%;
    z-index: -1;
}
.reservation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /*750px*/
    width: 100%;
    color: white;
}
.reservation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 90%;
    width: calc(100% - 700px);
    height: calc(100% - 200px);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px black;
}
.margin-container{
    width: calc(100% - 150px);
    height: calc(100% - 100px);
}
.label-reservation{
    display: none;
}
.reservation h2{
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 40px 150px 30px 150px;
    padding: 5px;
    opacity: 100%;
    border-radius: 8px;
}
.reservation h1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: white;
    z-index: 10;
    opacity: 100%;
}
.input-container-personal-date{
    display: flex;
    justify-content: space-between;
}
.input-personal-data{
    padding: 10px 0px 0px 10px;
    width: 45%;
    border-radius: 8px;
}
.input-container-other-date{
    display: flex;
    justify-content: space-between;
}
.input-other-date{
    padding-top: 10px;
    width: 25%;
    justify-content: space-between;
    margin: 30px 0px;
    text-align: center;
    border-radius: 8px;

}
.input{
    outline: none;
    border: none;
    border-bottom: 2px solid white ;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    padding-top: 10px;
    text-align: center;
    background-color: transparent;
    color: var(--cor-5);
}
.input-icons{
    color: white;
}
.input::placeholder{
    color: white;
}
.input-icons::-webkit-calendar-picker-indicator{
    filter: invert(100%);
}
.btn-reservation-table{
    display: flex;
    justify-content: center;
    color: white;
}
.input-reservar{
    text-decoration: none;
    padding: 8px;
    border: 2px solid var(--cor-5);
    width: 30%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 25px;
    background-color: transparent;
    cursor: pointer;
}